Repository Syeberman/nohtyP: changes, and which Codecov flags are due for each by the changed paths.
All: nohtyP, munit_test

.codecov.yml:

coverage:
  range: 60..80
  round: down
  precision: 0
  # Disable whole-repo statuses, preferring component-level statuses instead.
  status:
    project: false
    patch: false
    changes: false

component_management:
  individual_components:
    - component_id: nohtyP
      paths:
        - ^nohtyP\.c$
      # TODO Use patch coverage, to ensure that lines adjusted in a PR are covered.
      statuses:
        - type: project
          target: auto
          threshold: 5
    - component_id: munit_test
      paths:
        - ^Lib/munit_test/.*$
      statuses:
        - type: project
          target: 100

ignore:
  - ^Tools/.*$
  - ^Lib/munit_test/unittest_pprint.c$

comment: false

github_checks:
  annotations: false

Implement fixture_type_exception
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Implement yp_invalidate
  Lib/CSharp/nohtyP.cs
  nohtyP.c
  nohtyP.h
Due: nohtyP

Test invalidated objects
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

When testing exception passthrough, use a random exception
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_collection.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

Fix a resource leak in frozendict_invalidate
  nohtyP.c
Due: nohtyP

Raise yp_TypeError on incompatible types to range_contains and similar
  Lib/munit_test/test_protocols/test_collection.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/python_test/test_range.py
  nohtyP.c
Due: nohtyP, munit_test

Test invalidated objects as arguments
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_collection.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.h
Due: munit_test

Reduce the AppVeyor build time
  Build/.appveyor.yml
Due: none

FIXME Updated WindowsLoadTracker from cpython main
  Lib/python_test/libregrtest/win_utils.py
Due: none
