Repository Syeberman/nohtyP: changes, and which Codecov flags are due for each by the changed paths.
All: nohtyP, munit_test

1-, 2-, and 4-byte variants of the text string types
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Refactor rand_items/etc into rand_elements_t
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_collection.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Additional sequence comparison test cases
  Lib/munit_test/test_protocols/test_sequence.c
Due: munit_test

Document the non-obvious fixture types; adjust "sized text" assertions
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

String comparison tests, particularly for mixed encodings
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

String concatenation tests, particularly for mixed encodings
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

String "set slice" tests, particularly for mixed encodings
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

String extending tests, particularly for mixed encodings
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

Track type variants; separate string classifier tests
  Lib/munit_test/test_protocols/init.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/test_protocols/test_string_classifier.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Improve documentation of the hidden requirements in the tests
  Lib/munit_test/test_protocols/test_collection.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

Decrease length of random objects that contain other random objects
  Lib/munit_test/unittest.c
Due: munit_test

Don't leave NULLs in the malloc tracker array
  Lib/munit_test/unittest.c
Due: munit_test

test_startswith: Mixed encodings and other tests
  Lib/munit_test/test_protocols/test_string.c
  nohtyP.c
Due: nohtyP, munit_test

test_endswith
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

Rename test_string_classifier to test_string_char_db
  Lib/munit_test/test_protocols/init.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/test_protocols/test_string_char_db.c
  Lib/munit_test/unittest.h
Due: munit_test

Refactor test_latin_1_classifiers assertions to a function
  Lib/munit_test/test_protocols/test_string_char_db.c
  Lib/munit_test/unittest.h
  nohtyP.h
Due: munit_test

First stab at yp_lower and yp_upper
  Lib/munit_test/test_protocols/test_string_char_db.c
  Lib/python_test/yp_unittest/__init__.py
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Updating the lower/upper character tables
  nohtyP.c
Due: nohtyP

yp_swapcase
  Lib/munit_test/test_protocols/test_string_char_db.c
  nohtyP.c
Due: nohtyP, munit_test

yp_capitalize
  Lib/munit_test/test_protocols/test_string_char_db.c
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

yp_casefold
  Lib/munit_test/test_protocols/test_string_char_db.c
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Enable Python tests that use the character database
  Lib/python_test/string_tests.py
  Lib/python_test/test_bool.py
  Lib/python_test/test_unicode.py
  Lib/python_test/test_unicodedata.py
  Lib/python_test/yp_unittest/__init__.py
  Lib/yp.py
Due: none

Fix MSVC build
  Lib/munit_test/unittest.c
Due: munit_test

munit: Don't create a stderr temp file if it's not needed
  Tools/munit/munit.c
Due: none

Fix missing pointer dereference
  Lib/munit_test/test_protocols/test_string.c
Due: munit_test

Disable Ubuntu image for now; improve logging on build failures
  Build/.appveyor.yml
Due: none

General string case conversion tests
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/test_protocols/test_string_char_db.c
  nohtyP.h
Due: munit_test

Fix msvs_110 build
  nohtyP.c
Due: nohtyP

Per AppVeyor support: Ubuntu 18.04 is no longer supported
  Build/.appveyor.yml
Due: none

Update Ubuntu2204's compilers
  Build/.appveyor.yml
Due: none

Add gcc 15 and 14 support; fix munit for c23, which removed ATOMIC_VAR_INIT
  Build/site_scons/build_environments.py
  Build/site_scons/site_tools/gcc_14.py
  Build/site_scons/site_tools/gcc_15.py
  Tools/munit/munit.c
Due: none

Implemented assert_string
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

test_lower
  Lib/munit_test/test_protocols/test_string_char_db.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

test_lower: non-ascii characters with unique properties
  Lib/munit_test/test_protocols/test_string_char_db.c
  nohtyP.c
Due: nohtyP, munit_test

test_upper
  Lib/munit_test/test_protocols/test_string_char_db.c
Due: munit_test

test_casefold
  Lib/munit_test/test_protocols/test_string_char_db.c
Due: munit_test

test_swapcase
  Lib/munit_test/test_protocols/test_string_char_db.c
Due: munit_test

test_capitalize
  Lib/munit_test/test_protocols/test_string_char_db.c
Due: munit_test

Fix link flags in gcc debug builds; don't set `_DEBUG` on coverage builds
  Build/make.scons
  Build/site_scons/gcc_common.py
Due: none

Add an assertion
  nohtyP.c
Due: nohtyP

Path conditions:
  nohtyP: any of: ^nohtyP\.c$, but not: ^Tools/.*$, ^Lib/munit_test/unittest_pprint.c$
  munit_test: any of: ^Lib/munit_test/.*$, but not: ^Tools/.*$, ^Lib/munit_test/unittest_pprint.c$
