Repository Syeberman/nohtyP: changes, and which Codecov flags are due for each by the changed paths.
All: nohtyP, munit_test

.codecov.yml:

coverage:
  range: 60..80
  round: down
  precision: 0
  # Disable whole-repo statuses, preferring component-level statuses instead.
  status:
    project: false
    patch: false
    changes: false

component_management:
  individual_components:
    - component_id: nohtyP
      paths:
        - ^nohtyP\.c$
      # TODO Use patch coverage, to ensure that lines adjusted in a PR are covered.
      statuses:
        - type: project
          target: auto
          threshold: 5
    - component_id: munit_test
      paths:
        - ^Lib/munit_test/.*$
      # TODO Use target: 100 when https://github.com/gcovr/gcovr/pull/1012 is available.
      statuses:
        - type: project
          target: 99

ignore:
  - ^Tools/.*$
  - ^Lib/munit_test/unittest_pprint.c$

comment: false

github_checks:
  annotations: false

Properly mark functions as unused
  Lib/munit_test/test_protocols/test_all.c
  nohtyP.c
Due: nohtyP, munit_test

Use the included `pycparser` for `checkapi`
  Build/make.scons
  Include/fake_libc_include/README.md
  Lib/munit_test/main.c
Due: munit_test

Fix pointer dereference errors in `ypStringLib_*_call_errorhandler`
  nohtyP.c
Due: nohtyP

Fix "unused function" in MacOS build
  Tools/munit/munit.c
Due: none

Tweaking Codecov configuration
  .codecov.yml
Due: none

Add `pycparser`
  Tools/pycparser/.gitattributes
  Tools/pycparser/.gitignore
  Tools/pycparser/.vimrc
  Tools/pycparser/CHANGES
  Tools/pycparser/CONTRIBUTORS
  Tools/pycparser/LICENSE
  Tools/pycparser/MANIFEST.in
  Tools/pycparser/README.rst
  Tools/pycparser/SECURITY.md
  Tools/pycparser/_clean_tables.py
  Tools/pycparser/pycparser/__init__.py
  Tools/pycparser/pycparser/_ast_gen.py
  Tools/pycparser/pycparser/_build_tables.py
  Tools/pycparser/pycparser/_c_ast.cfg
  Tools/pycparser/pycparser/ast_transforms.py
  Tools/pycparser/pycparser/c_ast.py
  Tools/pycparser/pycparser/c_generator.py
  Tools/pycparser/pycparser/c_lexer.py
  Tools/pycparser/pycparser/c_parser.py
  Tools/pycparser/pycparser/ply/LICENSE
  Tools/pycparser/pycparser/ply/__init__.py
  Tools/pycparser/pycparser/ply/cpp.py
  Tools/pycparser/pycparser/ply/ctokens.py
  Tools/pycparser/pycparser/ply/lex.py
  Tools/pycparser/pycparser/ply/yacc.py
  Tools/pycparser/pycparser/ply/ygen.py
  Tools/pycparser/pycparser/plyparser.py
  Tools/pycparser/setup.cfg
  Tools/pycparser/setup.py
Due: none

Don't write the lextab and yacctab files
  Tools/checkapi/parse_header.py
  Tools/pycparser/pycparser/c_parser.py
Due: none

Support Visual Studio 2022, 2019, 2017
  Build/.appveyor.yml
  Build/site_scons/build_environments.py
  Build/site_scons/msvs_common.py
  Build/site_scons/site_tools/msvs_110.py
  Build/site_scons/site_tools/msvs_120.py
  Build/site_scons/site_tools/msvs_140.py
  Build/site_scons/site_tools/msvs_15.py
  Build/site_scons/site_tools/msvs_16.py
  Build/site_scons/site_tools/msvs_17.py
  Build/site_scons/site_tools/msvs_90.py
Due: none

`Analysis` builder; compiler static analysis of `nohtyP.c`
  Build/make.scons
  Build/site_scons/analysis_builder.py
  Build/site_scons/c++_analysis.py
  Build/site_scons/c++_preprocessed.py
  Build/site_scons/cc_analysis.py
  Build/site_scons/cc_preprocessed.py
  Build/site_scons/gcc_common.py
  Build/site_scons/msvs_analysis.py
  Build/site_scons/msvs_common.py
  Build/site_scons/msvs_preprocessed.py
  Build/site_scons/preprocessed_builder.py
  Build/site_scons/root_environment.py
Due: none

Fix optional compiler warnings
  nohtyP.c
Due: nohtyP

Use a single `analyze` target that combines analysis from all sources
  Build/make.scons
  Build/site_scons/analysis_builder.py
  Build/site_scons/build_environments.py
  Build/site_scons/preprocessed_builder.py
Due: none

Don't reference `CFLAGS` in `PPCFLAGS` and `SACFLAGS` (and similar)
  Build/site_scons/analysis_builder.py
  Build/site_scons/c++_analysis.py
  Build/site_scons/c++_preprocessed.py
  Build/site_scons/cc_analysis.py
  Build/site_scons/cc_preprocessed.py
  Build/site_scons/gcc_common.py
  Build/site_scons/msvs_analysis.py
  Build/site_scons/msvs_common.py
  Build/site_scons/msvs_preprocessed.py
  Build/site_scons/root_environment.py
Due: none

Additional `checkapi` checks
  Tools/checkapi/api_warnings.py
  Tools/checkapi/parse_header.py
Due: none

Update analysis when `Esp.Extensions` changes
  Build/site_scons/msvs_analysis.py
  Build/site_scons/msvs_common.py
Due: none

Use static copyright years
  LICENSE.txt
  Lib/yp.py
  Lib/ypExamples.c
  README.md
  nohtyP.c
  nohtyP.h
Due: nohtyP

Enable `-fanalyzer`
  Build/site_scons/gcc_common.py
Due: none

Simulate out-of-memory errors
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Remove an unnecessary condition
  nohtyP.c
Due: nohtyP

Test out-of-memory errors for `frozenset`/`set`
  Lib/munit_test/test_objects/test_frozenset.c
Due: munit_test

Fix segfault in `_ypFunction_validate_parameters` when `yp_setN` fails
  nohtyP.c
Due: nohtyP

Test out-of-memory errors for `frozendict`/`dict`
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/unittest.c
  nohtyP.h
Due: munit_test

Avoid `_ypFunction_validate_parameters`'s allocation in our OOM tests
  Lib/munit_test/test_objects/test_frozendict.c
Due: munit_test

Tests for all the ways an item can _not_ be part of a `range`
  Lib/munit_test/test_objects/init.c
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  nohtyP.h
Due: munit_test

Remove `ypSlice_AdjustIndicesC` exception checks where `step` is a known-good value
  nohtyP.c
Due: nohtyP

Fix some off-by-one errors in `_test_contains`
  Lib/munit_test/test_objects/test_range.c
Due: munit_test

test_rangeC, test_call_type
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Test out-of-memory errors for `range`
  Lib/munit_test/test_objects/test_range.c
  nohtyP.c
Due: nohtyP, munit_test

Avoid divide-by-zero in munit_rand_int_range when min==max
  Lib/munit_test/test_unittest.c
  Tools/munit/munit.c
Due: munit_test

Support ordered comparisons on range objects
  Lib/python_test/test_range.py
  nohtyP.c
Due: nohtyP

Comparison tests for test_sequence
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  nohtyP.c
Due: nohtyP, munit_test

Refactor some of the comparison functions
  nohtyP.c
Due: nohtyP

Test out-of-memory errors for `tuple`/`list`
  Lib/munit_test/test_objects/init.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/unittest.h
  nohtyP.c
Due: nohtyP, munit_test

Constructor tests for tuple/list
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Fix exception passthrough for `yp_tuple_repeatCN`/etc
  Lib/munit_test/test_objects/test_tuple.c
  nohtyP.c
Due: nohtyP, munit_test

Rename fixture_type_t.type to yp_type for clarity
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Refactor `x_types_init` to `peers`
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

General test coverage improvements
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_collection.c
  nohtyP.c
Due: nohtyP, munit_test

Fix exception passthrough for yp_iter2
  nohtyP.c
  nohtyP.h
Due: nohtyP

Refactor yp_unpackN
  nohtyP.c
Due: nohtyP
