Repository Syeberman/nohtyP: changes, and which Codecov flags are due for each by the changed paths.
All: nohtyP, munit_test

.codecov.yml:

coverage:
  range: 60..80
  round: down
  precision: 0
  # Disable whole-repo statuses, preferring component-level statuses instead.
  status:
    project: false
    patch: false
    changes: false

component_management:
  individual_components:
    - component_id: nohtyP
      paths:
        - ^nohtyP\.c$
      # TODO Use patch coverage, to ensure that lines adjusted in a PR are covered.
      statuses:
        - type: project
          target: auto
          threshold: 5
    - component_id: munit_test
      paths:
        - ^Lib/munit_test/.*$
      # TODO Use target: 100 when https://github.com/gcovr/gcovr/pull/1012 is available.
      statuses:
        - type: project
          target: 99

ignore:
  - ^Tools/.*$
  - ^Lib/munit_test/unittest_pprint.c$

comment: false

github_checks:
  annotations: false

Ensure vararg functions document behaviour when n<1
  nohtyP.h
Due: none

Fix exception passthrough for yp_sorted/yp_sort
  nohtyP.c
Due: nohtyP

Tests for iter and iterables
  Lib/munit_test/test_objects/init.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_unittest.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Use only clang-format for formatting code
  .clang-format
  .clang-tidy
Due: none

test_itemarrayCX
  Lib/munit_test/test_objects/test_tuple.c
Due: munit_test

Expand the faulty iter tests
  Lib/munit_test/unittest.h
Due: munit_test

100% coverage in munit tests
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_unittest.c
Due: munit_test

test_send, test_next, test_next2, test_throw
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_protocols/test_iterable.c
Due: munit_test

test_close, addressing FIXMEs
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/test_protocols/test_setlike.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Tests for some function objects
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_protocols/test_iterable.c
Due: munit_test

Don't ignore expections from iter_close in iter_send
  nohtyP.c
  nohtyP.h
Due: nohtyP

Avoid integer overflow in ypFunction_callNV_withself
  nohtyP.c
Due: nohtyP

Test out-of-memory errors for `function`
  Build/make.scons
  Lib/munit_test/test_objects/test_function.c
Due: munit_test

test_send, test_next2, test_throw
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_protocols/test_iterable.c
Due: munit_test

Ensure `yp_next2` supports exception passthrough, even for `yp_StopIteration`
  nohtyP.c
Due: nohtyP

Add `extra` to `_ypTuple_new` and similar
  nohtyP.c
Due: nohtyP

Round "% successful" toward 0%, "% skipped" toward 100%
  Tools/munit/munit.c
Due: none

Avoid immortals in munit_test
  .codecov.yml
  Build/make.scons
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_frozenset.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_objects/test_range.c
  Lib/munit_test/test_objects/test_tuple.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/test_protocols/test_sequence.c
  Lib/munit_test/unittest.c
Due: munit_test

Move yp_min/etc to the "Boolean Operations and Comparisons" section
  Lib/munit_test/test_objects/test_iter.c
  Lib/munit_test/test_protocols/init.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_comparable.c
  Lib/munit_test/test_protocols/test_iterable.c
  Lib/munit_test/unittest.h
  nohtyP.h
Due: munit_test

Use `int k` (not `int n`) in K functions
  Lib/CSharp/nohtyP.cs
  Lib/munit_test/test_objects/test_frozendict.c
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_protocols/test_mapping.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  Lib/yp.py
  Tools/checkapi/api_warnings.py
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Address remaining FIXMEs
  Tools/checkapi/checkapi.py
  nohtyP.c
  nohtyP.h
Due: nohtyP

Remove the cached hash optimization for string equality
  nohtyP.c
Due: nohtyP

test_latin_1_classifiers
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  nohtyP.h
Due: munit_test

Implement a character database interface and the string classifiers
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_string.c
  Lib/yp.py
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Refactor how the allocator is configured during initialization
  Lib/munit_test/main.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/unittest.c
  Lib/yp.py
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Support yp_isdecimal, yp_isnumeric, and yp_isprintable
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_string.c
  nohtyP.c
Due: nohtyP, munit_test

String classifier tests
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

Implement yp_isidentifier
  Lib/munit_test/test_objects/test_function.c
  Lib/munit_test/test_protocols/test_all.c
  Lib/munit_test/test_protocols/test_string.c
  nohtyP.c
  nohtyP.h
Due: nohtyP, munit_test

test_startswith
  Lib/munit_test/test_protocols/test_string.c
  nohtyP.c
Due: nohtyP, munit_test

Implement the latin-1 decoder
  nohtyP.c
  nohtyP.h
Due: nohtyP

Refactor the string fixture types to support specialized strings
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.c
  Lib/munit_test/unittest.h
Due: munit_test

Fix incorrect start pointer in `_ypStringLib_checkenc_contiguous_*`
  nohtyP.c
Due: nohtyP

Fix incorrect encoding when upconverting in `_ypStringLib_setslice_extended`
  nohtyP.c
Due: nohtyP

Ensure we downconvert if necessary in `chrarray_pop`, `chrarray_popindex`
  nohtyP.c
Due: nohtyP

Ensure we downconvert if necessary in `chrarray_remove`
  nohtyP.c
Due: nohtyP

Fix `_str_tailmatch` for mismatched encodings
  nohtyP.c
Due: nohtyP

Support relative comparisons (`yp_lt`, etc) for all strings
  nohtyP.c
Due: nohtyP

Support hashing for all strings
  nohtyP.c
Due: nohtyP

Ensure `ypStringLib_checkenc` is called with the proper length in `delslice`
  nohtyP.c
Due: nohtyP

Support 2- and 4-byte characters in `fixture_type_str` and `_chrarray`
  Lib/munit_test/test_protocols/test_string.c
  Lib/munit_test/unittest.c
  nohtyP.h
Due: munit_test
